[submodule "prequel"]
	path = database-plugin/deps/prequel
	url = https://github.com/mbeckem/prequel.git
[submodule "pybind11"]
	path = database-plugin/deps/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "fmt"]
	path = database-plugin/deps/fmt
	url = https://github.com/fmtlib/fmt.git
